examples/timers.json
[{"id":"6f9044a0.b3870c","type":"Blockly","z":"c2a7925b.6e143","func":"if (context.get(\"timeout_1\")) {\n  clearTimeout(context.get(\"timeout_1\"));\n  context.set(\"timeout_1\", undefined);\n}\nvar timeout_1 = setTimeout(function() {\n  node.send([msg]);\n}, 3000);\ncontext.set(\"timeout_1\", timeout_1);","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <block type=\"clear_timeout\" id=\"Q83YfytwSD~%X8Vn832C\" x=\"-187\" y=\"-162\">\n    <mutation xmlns=\"http://www.w3.org/1999/xhtml\" dropdown_options=\"{&quot;nothing_selected&quot;:&quot;none&quot;,&quot;;qWY9%iIXdYS{7I@S1s0&quot;:&quot;timeout_1&quot;}\"></mutation>\n    <field name=\"NAME\">;qWY9%iIXdYS{7I@S1s0</field>\n    <next>\n      <block type=\"set_timeout\" id=\";qWY9%iIXdYS{7I@S1s0\">\n        <field name=\"NAME\">timeout_1</field>\n        <field name=\"DELAY\">3</field>\n        <field name=\"UNIT\">sec</field>\n        <statement name=\"STATEMENT\">\n          <block type=\"node_send\" id=\"(GgJ]u-3f|Nf^?KS,u:S\">\n            <field name=\"OUTPUT_NR\">1</field>\n            <value name=\"MESSAGE_INPUT\">\n              <shadow type=\"node_msg\" id=\"O=fXK^rqJuO|7R~-feV)\"></shadow>\n            </value>\n          </block>\n        </statement>\n      </block>\n    </next>\n  </block>\n</xml>","outputs":1,"blocklyConfig":"d7a036fa.2c0298","name":"","x":460,"y":520,"wires":[["23f77ae.7ac7086"]]},{"id":"bb11da23.5f7ff8","type":"inject","z":"c2a7925b.6e143","name":"Delay this msg 3 seconds","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Delayed with 3 seconds","payloadType":"str","x":210,"y":520,"wires":[["6f9044a0.b3870c"]]},{"id":"23f77ae.7ac7086","type":"debug","z":"c2a7925b.6e143","name":"Delayed msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"abafc1856f0580f5","type":"Blockly","z":"c2a7925b.6e143","func":"if (context.get(\"interval_1\")) {\n  clearInterval(context.get(\"interval_1\"));\n  context.set(\"interval_1\", undefined);\n}\nvar interval_1 = setInterval(function() {\n  node.send([msg]);\n}, 2000);\ncontext.set(\"interval_1\", interval_1);","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <block type=\"clear_interval\" id=\"lxEB}pT[]h;|XRLCw;MH\" x=\"-237\" y=\"-287\">\n    <mutation xmlns=\"http://www.w3.org/1999/xhtml\" dropdown_options=\"{&quot;nothing_selected&quot;:&quot;none&quot;,&quot;9x|||hb7Dv071Rpxc8t(&quot;:&quot;interval_1&quot;}\"></mutation>\n    <field name=\"NAME\">9x|||hb7Dv071Rpxc8t(</field>\n    <next>\n      <block type=\"set_interval\" id=\"9x|||hb7Dv071Rpxc8t(\">\n        <field name=\"NAME\">interval_1</field>\n        <field name=\"INTERVAL\">2</field>\n        <field name=\"UNIT\">sec</field>\n        <statement name=\"STATEMENT\">\n          <block type=\"node_send\" id=\"Xqj)7E{pqs!}R4^ad1B*\">\n            <field name=\"OUTPUT_NR\">1</field>\n            <value name=\"MESSAGE_INPUT\">\n              <shadow type=\"node_msg\" id=\"WRdFmo@ZPjzy4o|Hbmm*\"></shadow>\n            </value>\n          </block>\n        </statement>\n      </block>\n    </next>\n  </block>\n</xml>","outputs":1,"blocklyConfig":"d7a036fa.2c0298","name":"","x":460,"y":580,"wires":[["b6d7c80b9cd67967"]]},{"id":"3d2d2c395dc5c3d8","type":"inject","z":"c2a7925b.6e143","name":"Repeat this msg every 2 seconds","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Resend every 2 seconds","payloadType":"str","x":230,"y":580,"wires":[["abafc1856f0580f5"]]},{"id":"b6d7c80b9cd67967","type":"debug","z":"c2a7925b.6e143","name":"Repeated msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":580,"wires":[]},{"id":"d7a036fa.2c0298","type":"blockly-config","showTrashcan":true,"allowComments":true,"showZoomControl":true,"toolboxPosition":"left","renderer":"geras","name":"Left"}]
